<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.learndatastructures">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnDataStructures"
        tools:targetApi="31">
        <activity
            android:name=".LinkedlistFragments.LInkedlistActivity"
            android:exported="false"
            android:theme="@style/Theme.LearnDataStructures2"/>
        <activity
            android:name=".CircularQueue.CircularQueueActivity"
            android:exported="false"
            android:theme="@style/Theme.LearnDataStructures2" />
        <activity
            android:name=".QueueFragments.QueueActivity"
            android:exported="false"
            android:theme="@style/Theme.LearnDataStructures2" />
        <activity
            android:name=".StackFragments.StackActivity"
            android:exported="false"
            android:theme="@style/Theme.LearnDataStructures2" />
        <activity
            android:name=".BasicActivitys.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".BasicActivitys.Types_Of_Ds_Activity"
            android:exported="false" />
        <activity
            android:name=".BasicActivitys.Abstract_Dt_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnDataStructures2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DSActivity"
            android:exported="false"
            android:theme="@style/Theme.LearnDataStructures2" />
    </application>

</manifest>